<%= form_with(model: civil, local: true) do |form| %>
  <% if civil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(civil.errors.count, "error") %> prohibited this civil from being saved:</h2>

      <ul>
      <% civil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :civil %>
    <%= form.text_field :civil, id: :civil_civil %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
